/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */
@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Playwrite+GB+S+Guides:ital@0;1&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(222, 222, 225);
}

ul {
  color: green;
  font-family: 'Playwrite GB S Guides', cursive;
}
