* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#container {
  width: 90vw;
  gap: 2rem;
  margin-top: 2rem;
  /* Flex  */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  border: 2px solid;
}
#container div {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  padding: 1.5rem;
  gap: 1rem;
  width: 30%;
}
h3 {
  font-weight: 900;
}

.images {
  width: 100%;
}

#container-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid;
  padding: 2rem;
  width: 90vw;
  margin: 2rem auto;
}
#container-2 > p {
  font-size: 3rem;
}
hr {
  border-bottom: 4px solid red;
  width: 10%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#review {
  display: flex;
  gap: 3rem;
  text-align: center;
  padding: 2rem 4rem;
}
#review > .container-2-items {
  width: 25%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-2-items i {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.red {
  color: red;
}
.text-lg {
  font-size: 2rem;
}

.text-grey {
  color: grey;
}

.border-right {
  border-right: 2px solid rgb(55, 51, 51);
}
